<!doctype html>
<html lang="it">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>RJ</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2.0.6/css/pico.min.css">
</head>

<body>
<main class="container">
    <h1>RJ</h1>
    <nav>
        <ul>
            <li>
                <a href="#"
                   hx-get="/users"
                   hx-target="#content"
                   hx-swap="innerHTML"
                >Lista</a>
            </li>
            <li>
                <a href="#"
                   hx-get="/users/new"
                   hx-target="#content"
                   hx-swap="innerHTML"
                >Nuovo</a>
            </li>
            <li>
                <a href="#"
                   hx-get="/health"
                   hx-target="#content"
                   hx-swap="innerHTML"
                >Health</a>
            </li>
        </ul>
    </nav>
    <hr/>
    <div id="content"
         hx-swap="innerHTML"
    >
        <p>Benvenuto su RJ</p>
        <p>Seleziona una voce dal menu in alto</p>
    </div>
</main>
</body>
</html>